<main class="page-body">
    <section class="cover show-on-scroll">
        <div class="cover-container-text">
            <h1 class="cover-title show-on-scroll"> Welcome!</h1>
            <p class="cover-paragraph show-on-scroll">I'm Clara Miralles, front-end developer and digital strategist based in Amsterdam.</p>
                <div class="cover-social">
                    <a target="_blank" href="https://www.instagram.com/_claraflowers/">
                        <img class="social-icon show-on-scroll" src="instagram-icon.png" alt="instagram-icon">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/claramirallesi/">
                        <img class="social-icon show-on-scroll" src="linkedin-icon.png" alt="linkedin-icon">
                    </a>
                    <a target="_blank" href="https://github.com/claramiralles">
                        <img class="social-icon show-on-scroll" src="github-icon.png" alt="github-icon">
                    </a>
                </div>
        </div>
    </section>
    <section class="image-project show-on-scroll">
        <h2 class="title-project show-on-scroll">Sand App</h2>
        <a class="link-project show-on-scroll" href="/projects/sand-webapp">View full project</a>
        <img class="image-projects" src="assets/images/sand.png" alt="">
    </section>

    <section class="image-project-right show-on-scroll">
        <h2 class="title-project-left show-on-scroll">Portfolio Design</h2>
        <a class="link-project-left show-on-scroll" href="https://martamullor.github.io/project-portfolio/">View full project</a>
        <img class="image-projects" src="assets/images/portfolio.png" alt="">
    </section>
</main>
