<!DOCTYPE html>
<html>

<head>
  <title> Marta Mullor</title>
  <link rel='shortcut icon' type='img/favicon.png' href='assets/images/logo-icon.png' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" class="">
  <meta name="keywords" content="HTML, CSS, JavaScript, mongoDB, node, express, instagram, social media, freelance, porfolio,
  ES6, JavaScript, ES6, MongoDB, Express, Angular, Node.js, HTML, react, facebook, photography, content creator, frontend developer,
  projects">
  <link rel="stylesheet" href="./assets/css/about-me.css">
  <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap"
    rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164818209-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-164818209-1');
  </script>
</head>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">
        <section class="about-me-container show-on-scroll">

            <div class="text-container show-on-scroll">
                <h1 class="title-profile">About me.</h1>
                <p class="text-profile">My passion for creativity and programming comes from the ability of
                    a person that makes an idea work. I love to learn and improve, which is why I love this work
                    because it allows me to constantly discover new ways of doing things.</p>
                <div class="links-profile-container">
                    <a class="link-profile" href="mailto:marta.mullor.polo@gmail.com">Contact me</a>
                    <a class="link-profile" href="projects">View my projects</a>
                    <div class="cover-social">
                        <a href="https://www.instagram.com/martamullor/"><img class="social-icon show-on-scroll"
                                src="assets/images/instagram-icon.png" alt="instagram-icon"></a>
                        <a href="https://www.linkedin.com/in/martamullor/"><img class="social-icon show-on-scroll"
                                src="assets/images/linkedin-icon.png" alt="linkedin-icon"></a>
                        <a href="https://github.com/martamullor"><img class="social-icon show-on-scroll"
                                src="assets/images/github-icon.png" alt="github-icon"></a>
                    </div>
                </div>
            </div>

            <div class="image-profile-container show-on-scroll">
                <img class="image-profile" src="assets/images/foto-perfil.png" alt="foto-perfil">
            </div>
        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
  <script src="assets/js/main.js"></script>
</body>
</html>
