<!DOCTYPE html>
<html>

<head>
  <title> Marta Mullor</title>
  <link rel='shortcut icon' type='img/favicon.png' href='/img/logo-icon.png' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" class="">
  <meta name="keywords" content="HTML, CSS, JavaScript, mongoDB, node, express, instagram, social media, freelance, porfolio,
  ES6, JavaScript, ES6, MongoDB, Express, Angular, Node.js, HTML, react, facebook, photography, content creator, frontend developer,
  projects">
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <link rel="stylesheet" href="/stylesheets/dropdown-menu.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/project-page-style.css">
  <link rel="stylesheet" href="/stylesheets/projects.css">
  <link rel="stylesheet" href="/stylesheets/under-construction.css">
  <link rel="stylesheet" href="/stylesheets/photo-diary.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/about-me.css">
  <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap"
    rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164818209-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-164818209-1');
  </script>
</head>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">AMP Stories Lizipaina</h1>
            <p class="project-subtitle show-on-scroll">
                Frontend Development - Google
            </p>

            <a class="back-project-container show-on-scroll" href="/projects">
                <img class="arrow-img" src="/img/arrow.svg" alt="arrow">
                <p class="button-top-project show-on-scroll">Back</p>
            </a>
        </section>

        <img class="cover-image show-on-scroll" src="/img/Web-Project2/lizipaina-project-page.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section-full">
                <p class="text-section-full">
                    Frontend development and web implementation of the graphic piece for the Sanofi client,
                    specifically for the Lizipaina brand. <br><br> Made in AMP stories language with specifications
                    Google techniques for its correct operation in web and mobile version</p>
            </div>

            <img class="project-img-full show-on-scroll" src="/img/Web-Project2/lizipaina-cover.png" alt="sand-cover">
        </section>

        <section class="technologies-container show-on-scroll">

            <h2 class="title-technologies show-on-scroll">Technologies:</h2>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="/img/logos/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/amp-stories.png" alt="Mongo DB">
                </div>
            </div>
        </section>

        <section class="project-page-section-right show-on-scroll">
            <div class="text-container-section-two">
                <p class="text-section">
                    SEO strategy was implemented for a correct positioning in
                    Google search engines and thus maximize the impact of the piece.
                </p>
            </div>

            <img class="project-img show-on-scroll" src="/img/Web-Project2/projectImage-lizipaina.png" alt="sand-image">
        </section>

        <section class="buttons-container show-on-scroll">

            <a class="project-button-left show-on-scroll" target="_blank" href="https://maneki.es/AMPlizipaina/">View
                live project.</a>
            <a class="project-button-right show-on-scroll" href="/projects">More projects...</a>

        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
</body>
<script src="assets/js/main.js"></script>

</html>
