<!DOCTYPE html>
<html>

  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">
        <form class="form" action="https://formspree.io/clara.miralles.imperial@gmail.com" method="POST">
          <div class="form__item">
              <label class="form__label" for="completeName">Complete name <span class="form__label--asterisk">*</span>
                <input class="form__input" id="completeName" name="completeName" type="text" placeholder="Name..." required>
              </label>
          </div>

        <div class="form__item form__item--email">
            <label class="form__label" for="email">Email <span class="form__label--asterisk">*</span>
                <input class="form__input form__input--email" id="email" name="email" type="email" placeholder="name.lastname@mail.com" required>
            </label>
        </div>
        <div class="form__item form__item--telephone">
            <label class="form__label" for="telephone">Telephone
                <input class="form__input form__input--telephone" id="telephone" name="telephone" type="tel" placeholder="Ej. 690000000">
            </label>
        </div>
        <div class="form__item">
            <label class="form__label" for="message">Message <span class="form__label--asterisk">*</span>
                <textarea class="form__input form__text" id="message" name="message" cols="30" rows="10" placeholder="What do you need?"></textarea>
            </label>
        </div>
        <div class="button__container">
            <input class="button" type="submit" value="Submit">
        </div>
      </form>

        <div class="contact-me-container show-on-scroll">
            <h1 class="contact-me-title show-on-scroll">Contact me!</h1>
            <a class="contact-me-subtitle show-on-scroll" href="mailto:clara.miralles.imperial@gmail.com">📩<span class="contact-me-subtitle italic">clara.miralles.imperial@gmail.com</span></a>
        </div>
    </main>
</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>

</html>





