<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Epsilon Knowledge</h1>
            <p class="project-subtitle show-on-scroll">
                Design and development with clickFunnels
            </p>

            <a class="back-project-container show-on-scroll" href="/projects">
                <img class="arrow-img" src="/img/arrow.svg" alt="arrow">
                <p class="button-top-project show-on-scroll">Back</p>
            </a>
        </section>

        <img class="cover-image show-on-scroll" src="/img/Web-Project4/epsilon-knowledge-page.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section-full">
                <p class="text-section-full">
                    Design, configuration and development of the Epsilon Knowledge platform.
                    <br><br>The platform stores the studies carried out by the company and the leads
                    obtained from users who download the studies through a form</p>
            </div>

            <img class="project-img-full show-on-scroll" src="/img/Web-Project4/epsilonKnowledge-cover.png"
                alt="sand-cover">
        </section>

        <section class="technologies-container show-on-scroll">

            <h2 class="title-technologies show-on-scroll">Technologies:</h2>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="/img/logos/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/clickfunnels.png" alt="Mongo DB">
                </div>
            </div>
        </section>

        <section class="project-page-section-right show-on-scroll">
            <div class="text-container-section-two">
                <p class="text-section">We store the leads in the database
                    data hosted on the platform and classify it for later
                    inbound marketing strategies that the company develops in the future.
                </p>
            </div>

            <img class="project-img show-on-scroll" src="/img/Web-Project4/project-epsilonKnowledge.png"
                alt="sand-image">
        </section>

        <section class="buttons-container show-on-scroll">

            <a class="project-button-left show-on-scroll" target="_blank"
                href="https://www.epsilontec.com/epsilon-knowledge">View live project.</a>
            <a class="project-button-right show-on-scroll" href="/projects">More projects...</a>

        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
</body>
<script src="/javascripts/showOnScroll.js"></script>

</html>
