<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <h1 class="title">My Projects.</h1>
        
        <div class="links-container">
                <a class="link-category" href="./projects-design.html">👩🏻‍🎨 Design</a>
                <a class="link-category" href="./projects-web.html">👩🏻‍💻 Web Development</a>
                <a class="link-category" href="./projects-social-media.html">🕵🏻‍♀️ Social Media</a>
                <a class="link-category" href="./projects-photography.html">💆🏻‍♀️ Photography</a>
        </div>
        <div class="projects-container">

            <a class="project-cover show-on-scroll" href="/projects/valy-cosmetics">
                <p class="tag-projects">Valy Cosmetics - Instagram strategy</p>
                <img class="project-image" src="assets/images/project-valy2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-valy.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/personal-account">
                <p class="tag-projects">Instagram - Personal Colabs.</p>
                <img class="project-image" src="assets/images/project-myinstagram2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-myinstagram.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/meller">
                <p class="tag-projects">Meller - Social Media Strategy</p>
                <img class="project-image" src="assets/images/project-mellerSM.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-mellerSM2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/saba-aparcamientos">
                <p class="tag-projects">Saba Aparcamientos - Social media strategy</p>
                <img class="project-image" src="assets/images/project-saba.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-saba2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/double-agent">
                <p class="tag-projects">Double Agent - Community manager</p>
                <img class="project-image" src="assets/images/project-doubleAgent.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-doubleAgent2.jpg" alt="">
                </div>
            </a>



            <a class="project-cover show-on-scroll" href="/projects/epsilon-workshops">
                <p class="tag-projects">Instagram - Personal Colabs.</p>
                <img class="project-image" src="assets/images/project-workshops.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-workshops2.jpg" alt="">
                </div>
            </a>
        </div>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
  <script src="assets/js/main.js"></script>
</body>

</html>
