<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <h1 class="title">My Projects.</h1>
        
        <div class="links-container">
          <a class="link-category" href="./projects-design.html">👩🏻‍🎨 Design</a>
          <a class="link-category" href="./projects-web.html">👩🏻‍💻 Web Development</a>
          <a class="link-category" href="./projects-social-media.html">🕵🏻‍♀️ Social Media</a>
          <a class="link-category" href="./projects-photography.html">💆🏻‍♀️ Photography</a>
        </div>
        <div class="projects-container">

            <a class="project-cover show-on-scroll" href="/projects/sand-webapp">
                <p class="tag-projects">Web App</p>
                <img class="project-image" src="assets/images/sand-webapp.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/sand-webapp2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/AMP-lizipaina">
                <p class="tag-projects">Lizipaina - AMP Stories</p>
                <img class="project-image" src="assets/images/project-lizipaina.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-lizipaina2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/the-spaceman">
                <p class="tag-projects">Game Logic - Design</p>
                <img class="project-image" src="assets/images/the-spaceman1.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/the-spaceman2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/epsilon-knowledge-website">
                <p class="tag-projects">Epsilon - ClickFunnels Platform </p>
                <img class="project-image" src="assets/images/project-epsilon-knowledge2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-epsilon-knowledge.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/portfolio-design">
                <p class="tag-projects">Responsive Design</p>
                <img class="project-image" src="assets/images/project-portfolio.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-portfolio2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/valy-cosmetics-web">
                <p class="tag-projects">Valy Cosmetics - Wordpress</p>
                <img class="project-image" src="assets/images/project-webvaly.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-webvaly2.jpg" alt="">
                </div>
            </a>
        </div>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
  <script src="assets/js/main.js"></script>
</body>

</html>
