<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <h1 class="title">My Projects.</h1>
        
        <div class="links-container">
                <a class="link-category" href="./projects-design.html">👩🏻‍🎨 Design</a>
                <a class="link-category" href="./projects-web.html">👩🏻‍💻 Web Development</a>
                <a class="link-category" href="./projects-social-media.html">🕵🏻‍♀️ Social Media</a>
                <a class="link-category" href="./projects-photography.html">💆🏻‍♀️ Photography</a>
        </div>
        <div class="projects-container">
            <a class="project-cover show-on-scroll rellax" data-rellax-speed="-4" href="/projects/product-valy-cosmetics">
                <p class="tag-projects">Valy Cosmetics - Product Photography </p>
                <img class="project-image" src="assets/images/valyProduct2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/valyProduct1.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/meller-fashion-film">
                <p class="tag-projects">Meller - Fashion Film</p>
                <img class="project-image" src="assets/images/mellerFashionFilm2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/mellerFashionFilm1.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/doubleAgent-shootings">
                <p class="tag-projects">Double Agent - Digital Campaings</p>
                <img class="project-image" src="assets/images/doubleAgentShootings1.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/doubleAgentShootings2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/carlyGibert-campaing">
                <p class="tag-projects">Carly Gibert - Colab with Double Agent</p>
                <img class="project-image" src="assets/images/project-CarlyShooting.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-CarlyShooting2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/lollapalooza-berlin">
                <p class="tag-projects">Lollapalooza Berlin - Photographer host</p>
                <img class="project-image" src="assets/images/lollapalooza1.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/lollapalooza2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/meller-productShooting">
                <p class="tag-projects">Meller - Product Photography</p>
                <img class="project-image" src="assets/images/mellerProduct1.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/mellerProduct2.jpg" alt="">
                </div>
            </a>
        </div>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
  <script src="assets/js/main.js"></script>
</body>

</html>
