<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <h1 class="title">My Projects.</h1>

        <div class="links-container">
                <a class="link-category" href="./projects-design.html">JavaScript</a>
                <a class="link-category" href="./projects-web.html">React</a>
                <a class="link-category" href="./projects-social-media.html">HTML & CSS</a>
                <a class="link-category" href="./projects-photography.html">Marketing Strategy</a>
        </div>
        <div class="projects-container">
            <a class="project-cover show-on-scroll" href="./sand-webapp.html">
                <p class="tag-projects">Your Calls 2.0</p>
                <img class="project-image" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_1_good_margin.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_3_good_margin.png" alt="">
                </div>
            </a>
            <a class="project-cover show-on-scroll" href="/projects/AMP-lizipaina">
                <p class="tag-projects">Harry Potter Charaters Search Engine</p>
                <img class="project-image" src="assets/images/img_harry_potter.png" alt="">
                <div class="project-text-container">
                    <img class="secondecondt-image" src="assets/images/img_harry_potter.png" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/the-spaceman">
                <p class="tag-projects">Rock & code</p>
                <img class="project-image" src="assets/imaprojrock_and_code.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/imaprojrock_and_code.png" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/epsilon-knowledge-website">
                <p class="tag-projects">Awesome Profile Cards</p>
                <img class="project-image" src="assets/images/projects/img_awesome_profile_cards_js.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/projects/img_awesome_profile_cards_js.png" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/valy-cosmetics-web">
                <p class="tag-projects">Awesome Profile Cards «legacy code»</p>
                <img class="project-image" src="assets/images/img_awesome_profile_cards_react.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/img_awesome_profile_cards_react.png" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/portfolio-design">
                <p class="tag-projects">Pokemon Cards Game</p>
                <img class="project-image" src="assets/images/img_pokemon_cards_game.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/img_pokemon_cards_game.png" alt="">
                </div>
            </a>
        </div>
    </main>

</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>
</html>
