<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Sand App</h1>
            <p class="project-subtitle show-on-scroll">
                Front and backend development
            </p>

            <a class="back-project-container show-on-scroll" href="/projects">
                <img class="arrow-img" src="/img/arrow.svg" alt="arrow">
                <p class="button-top-project show-on-scroll">Back</p>
            </a>
        </section>

        <img class="cover-image show-on-scroll" src="/img/Web-Project1/sand-project-page.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section">
                <p class="text-section-rigth">
                    Sand is a collaborative WebApp that allows the user to consult the
                    status of the beaches in real time.<br><br>Users update the information of the beaches
                    through the forms they'll send us when we detect by geolocation that
                    the user is there, the rest of the information is obtained from the weather API. 
                    <br><br>By completing the forms, users get points that they can later exchange for
                    discounts related to the beaches.
            </div>

            <img class="project-img-cover show-on-scroll" src="/img/Web-Project1/sand-cover.png" alt="sand-cover">
        </section>

        <section class="technologies-container show-on-scroll">

            <h2 class="title-technologies show-on-scroll">Technologies:</h2>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="/img/logos/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/mongo.png" alt="Mongo DB">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/nodejs.png" alt="Nodejs">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/json.png" alt="Json">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/axios-logo.png" alt="Axios">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/cloudify.png" alt="Cloudify">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/heroku.png" alt="Heroku">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/npm.png" alt="NPM">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/mapbox.png" alt="Mapbox">
                </div>
            </div>
        </section>

        <section class="project-page-section-right show-on-scroll">
            <div class="text-container-section-two">
                <p class="text-section"> The Admin user. It has a dynamic 
                    button that allows you to take charge of the content management of the App, you 
                    can then create / edit / delete beaches and discounts.
                </p>
            </div>

            <img class="project-img show-on-scroll" src="/img/Web-Project1/projectImage1.png" alt="sand-image">
        </section>

        <section class="buttons-container show-on-scroll">

            <a class="project-button-left show-on-scroll" target="_blank" href="https://sand-webapp.herokuapp.com/">View
                live project.</a>
            <a class="project-button-right show-on-scroll" href="/projects">More projects...</a>

        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
</body>
<script src="assets/js/main.js"></script>

</html>
