<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">The Spaceman</h1>
            <p class="project-subtitle show-on-scroll">
                ES6 Logic and frontend development
            </p>

            <a class="back-project-container show-on-scroll" href="/projects">
                <img class="arrow-img" src="/img/arrow.svg" alt="arrow">
                <p class="button-top-project show-on-scroll">Back</p>
            </a>
        </section>

        <img class="cover-image show-on-scroll" src="/img/Web-Project3/thespaceman-project-page.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section-full">
                <p class="text-section-full">
                    The Spaceman is a desktop version game in which the user can scroll
                    from left to right of the board dodging asteroids and collecting gems and oxygen.
                    <br><br>The purpose of the game is for the user to survive as long as possible by taking
                    oxygen.
                </p>
            </div>

            <img class="project-img-full show-on-scroll" src="/img/Web-Project3/thespaceman-cover.png" alt="sand-cover">
        </section>

        <section class="technologies-container show-on-scroll">

            <h2 class="title-technologies show-on-scroll">Technologies:</h2>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="/img/logos/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/javascript.png" alt="JavasScript">
                </div>
            </div>
        </section>

        <section class="project-page-section-right show-on-scroll">
            <div class="text-container-section-two">
                <p class="text-section"> User can earn points as they go
                    taking oxygen and through the gems, and will lose the game when it hits
                    against an asteroid.
                </p>
            </div>

            <img class="project-img show-on-scroll" src="/img/Web-Project3/thespaceman-project.png" alt="sand-image">
        </section>

        <section class="buttons-container show-on-scroll">

            <a class="project-button-left show-on-scroll" target="_blank"
                href="https://martamullor.github.io/the-spaceman/">View live project.</a>
            <a class="project-button-right show-on-scroll" href="/projects">More projects...</a>

        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
</body>
<script src="assets/js/main.js"></script>

</html>
