<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
  
  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Valy Cosmetics</h1>
            <p class="project-subtitle show-on-scroll">
                Social Media strategy and community manager
            </p>

            <a class="back-project-container show-on-scroll" href="/projects/social-media">
                <img class="arrow-img" src="/img/arrow.svg" alt="arrow">
                <p class="button-top-project show-on-scroll">Back</p>
            </a>
        </section>

        <img class="cover-image show-on-scroll" src="/img/social-project1/valyCosmetics-projectPage.png"
            alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section-full">
                <p class="text-section-full">
                    With the client we worked on a digital strategy that showed the values ​​of
                    the brand and wouldn't help add value to the user beyond the product. We work on specific topics
                    that we knew our target liked to get closer and create community.
                    <br><br>
                    We meet objectives with the objectives of followers and engagement through dynamics such as
                    raffles and valuable content such as recipes or exercises. We also managed to build trust
                    sharing opinions of the media and our own users.
                </p>
            </div>

            <img class="project-img-full show-on-scroll" src="/img/social-project1/valyCosmetics-cover.png"
                alt="sand-cover">
        </section>

        <section class="technologies-container show-on-scroll">

            <h2 class="title-technologies show-on-scroll">Technologies:</h2>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="/img/logos/facebook.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/instagram.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/stories.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="/img/logos/analytics.png" alt="JavasScript">
                </div>
            </div>
        </section>

        <section class="project-page-section-right show-on-scroll">
            <div class="text-container-section-two">
                <p class="text-section">
                    The focus of our strategy was to generate engagement with our
                    community and we got strong engagement through IG and FB stories
                    where we talked to our followers through polls.
                </p>
            </div>

            <img class="project-img show-on-scroll" src="/img/social-project1/projectImage1-valyCosmetics.png"
                alt="sand-image">
        </section>

        <section class="buttons-container show-on-scroll">

            <a class="project-button-left show-on-scroll" target="_blank"
                href="https://www.instagram.com/valycosmetics/">View live
                project</a>
            <a class="project-button-right show-on-scroll" href="/projects/social-media">More projects...</a>

        </section>
    </main>
</div>

  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let’s work together to create something truly unique.</h4>
    <a class="mail-footer" href="">marta.mullor.polo@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/martamullor/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/martamullor/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/martamullor">Github</a>
      <a class="social-link" target="_blank" href="https://martamullor.tumblr.com/">Tumblr</a>
    </div>
    <small class="footer-credits-text">Design by Marta Mullor 2020.</small>
  
  </footer>
</body>
<script src="assets/js/main.js"></script>

</html>
